@tailwind base;
@tailwind components;
@tailwind utilities;

/******************* pls don't delete  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.imgItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-box-footer {
  background: radial-gradient(
    106.64% 594.8% at 3.13% 0%,
    #820025 35.64%,
    #a95bcd 100%
  );
}

#root {
  background-color: #160404;
}

.HobbiesInput {
  border-right-style: hidden;
}

.HobbiesInput:focus {
  border-right: 0;
  border-color: black;
  outline: none;
  box-shadow: none;
}

.StoreInput {
  border-left-style: hidden;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
