@tailwind base;
@tailwind components;
@tailwind utilities;

/******************* pls don't delete  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

*:lang(en) {
  font-family: "Nunito", sans-serif;
}

.imgItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-box-footer {
  background: radial-gradient(
    106.64% 594.8% at 3.13% 0%,
    #820025 35.64%,
    #a95bcd 100%
  );
}

#root {
  margin: 0;
  padding: 0;
  /* background-color: #160404; */
}

.HobbiesInput {
  border-right-style: hidden;
}

.HobbiesInput:focus {
  border-right: 0;
  border-color: black;
  outline: none;
  box-shadow: none;
}

.StoreInput {
  border-left-style: hidden;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="date"] {
  background: transparent;
  color: rgb(189, 8, 8);
}

.react-datepicker__day.react-datepicker__day--006.react-datepicker__day--keyboard-selected {
  border-radius: 24px;
  background-color: #a62db2;
  color: #fff;
}
.react-datepicker {
  filter: drop-shadow(2px 2px 12px rgba(64, 50, 133, 0.12));
  border-radius: 8px;
  border: rgba(64, 50, 133, 0.12);
  background-color: #fff;
}

/* calendar box  */
.react-datepicker__month-container {
  position: relative;
  padding-top: 10px;
  font-size: 14px;
}

.react-datepicker__triangle {
  display: none;
}
/* this month and year heading */
.react-datepicker__current-month {
  font-weight: 500;
  color: #424c6b;
  display: none;
}
/* heading background */
.react-datepicker__header {
  background-color: #fff;
  border-bottom: #fff;
}
/* weekday name */
.react-datepicker__day-name {
  color: #9aa1b9;
  font-weight: 500;
}

.react-datepicker__day {
  font-size: 14px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 16px;
  background-color: #a62db2;
  color: #fff;
}
.react-datepicker__day:hover {
  border: 4px #a62db2;
  border-radius: 24px;
}

.react-datepicker__day--selected:hover {
  background-color: #a62db2;
}

/* month and year picker div */
.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  position: relative;
  right: 40px;
}
/* year picker */
.react-datepicker__year-select {
  position: relative;
  left: 0px;
  color: #424c6b;
  font-weight: 500;
  font-size: 14px;
  border: 0px;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 16px;
  background-color: #a62db2;
  color: #fff;
}

.react-datepicker__day--outside-month {
  color: #9aa1b9;
}

select.react-datepicker__year-select {
  width: 60px;
  background-position: left 30px top 1px;
}
.react-datepicker__month-select:hover:target:focus {
  border: 0px;
}
.react-datepicker__month-select:visited {
  border: 0px;
}
.react-datepicker__month-select:target {
  border: 0px;
}

/* month picker */
.react-datepicker__month-select {
  color: #424c6b;
  font-weight: 500;
  font-size: 14px;
  border: 0px #fff;
}

select.react-datepicker__month-select {
  background-image: none;
}
.react-datepicker__year-dropdown-container {
  background-color: #fff;
}

.react-datepicker__year-dropdown-container--select {
  background-color: #fff;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  position: relative;
  bottom: 6px;
}

/* arrow */
.react-datepicker__navigation.react-datepicker__navigation--previous {
  position: absolute;
  left: 180px;
  top: 11px;
}
.react-datepicker__navigation.react-datepicker__navigation--next {
  position: absolute;
  top: 10px;
}

.select.react-datepicker__year-select:focus {
  border: 0px !important;
}
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: [#fff];
  box-shadow: 0;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

/* Box shadow */

.DeleteButton{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.editModal {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Scroll bar */

*::-webkit-scrollbar {
  width: 0.25em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #646D89;
  border-radius: 9999px;
}

*::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

*::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

/* Swipe */
.dashboard {
  display: flex;
  justify-content: space-between;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.card {
  box-shadow: rgba(57, 7, 65, 0.50) 0px -130px 96px -28px inset;
}

