nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}

nav > img {
  margin: 16px;
}

nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 32px;
}

.button-nav {
  background: #c70039;
  box-shadow: 2px 2px 12px rgba(64, 50, 133, 0.16);
  border-radius: 99px;
  width: 90px;
  height: 48px;
  color: #ffffff;
}

.button-header {
  background: #c70039;
  box-shadow: 2px 2px 12px rgba(64, 50, 133, 0.16);
  border-radius: 99px;
  color: #ffffff;
  width: 163px;
  height: 48px;
  margin-top: 5%;
}

.button-nav:hover {
  background: #ff1659;
  transition: background-color 1s ease-out 10ms;
}
.button-header:hover {
  background: #ff1659;
  transition: background-color 1s ease-out 10ms;
}
